h4 {
    color:cadetblue;
    font-size: larger;
  }

a {
    color: darkgreen;
    font-size: larger;
    padding: 10px;
   
  }
  
button{
    color:yellow;
    border-radius: 10px;
    margin: 50px 0px 0px 100px;         /* topo:     margem de 100px */
                                           /* direita:  margem de 0px  */
                                           /* inferior: margem de 0px */
                                           /* esquerda: margem de 100px  */
    padding: 15px;
    background-color: black;
  }
img{
width: 600px;
}

@media screen and (max-width:520px) {
  img{
    width: 200px;
    }
}