h2 {
    color:cadetblue;
    font-size: larger;
    margin: 5px;
  }
input{
  color: darkgreen;
  font-size: larger;
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px; /* 50px para arredondar as bordas
                         50% para deixar em formato circular */
}
form{
  margin: 20px;
}